{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_pass" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="old_pass" placeholder="Old Password" type="password">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_pass" placeholder="New Password" type="password">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirm_new_pass" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
